@font-face {
    font-family: "elianto";
    src: url("../fonts/elianto-regular-webfont.woff2") format("woff2"),
         url("../fonts/fontselianto-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "bebasneue";
    src: url("../fonts/BebasNeueRegular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "bahnschrift";
    src: url("../fonts/BAHNSCHRIFT.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}